body {
    color: black; /* Cor do texto */
    background-color: pink; /* Cor de fundo do corpo da página */
    font-family: Arial, Helvetica, sans-serif; /* Família de fontes */
   }

ul {
    display: flex; /* Torna a lista um contêiner flexível */
    justify-content: space-between; /* Distribui uniformemente os itens ao longo do eixo principal (horizontalmente) */
    list-style-type: none; /* Remove os marcadores de lista */
    align-items: center; /* Alinha os itens verticalmente no centro */
    padding: 20px; /* Adiciona preenchimento interno à lista */
}

a {
    text-decoration: none; /* Remove a decoração de texto dos links */
}

header img {
    width: 150px; /* Largura da imagem do cabeçalho */
    height: 150px; /* Altura da imagem do cabeçalho */
    border-radius: 50%; /* Borda circular para a imagem do cabeçalho */
    border: 5px solid magenta; /* Borda sólida de 5px na cor magenta */
}

.center {
    text-align: center; /* Alinha o texto ao centro */
}

h1 {
    color: magenta; /* Cor do texto do cabeçalho */
}

h3 {
    color: magenta; /* Cor do texto do cabeçalho */
}


h2 {
    color: magenta; /* Cor do texto do cabeçalho */
}

footer img {
    width: 25px; /* Largura da imagem do rodapé */
    height: 25px; /* Altura da imagem do rodapé */
}

footer {
    display: flex; /* Torna o rodapé um contêiner flexível */
    justify-content: center; /* Alinha os itens do rodapé ao centro horizontalmente */
    align-items: center; /* Alinha os itens do rodapé ao centro verticalmente */
    background-color: magenta; /* Cor de fundo do rodapé */
    padding: 20px 0; /* Adiciona preenchimento interno ao rodapé */
    width: 100%; /* Largura total do rodapé */
}

footer a {
    margin: 20px; /* Adiciona margem ao redor dos links do rodapé */
    text-align: center; /* Alinha o texto ao centro */
}

footer p {
    margin-top: 2px; /* Adiciona uma pequena margem superior para separar os parágrafos no rodapé */
}

.conteudo {
    padding: 0px 50px; /* Adiciona preenchimento interno ao conteúdo */
}

nav a:hover {
    color: black; /* Cor do texto do link quando passa o mouse por cima */
    background-color: magenta; /* Cor de fundo do link quando passa o mouse por cima */
    border-radius: 20px; /* Adiciona bordas arredondadas aos links quando passa o mouse por cima */
}

nav a {
    color: black; /* Cor do texto dos links */
    padding: 10px 20px; /* Adiciona preenchimento interno aos links */
    transition: all 0.3s ease; /* Adiciona uma transição suave para as mudanças de estilo */
}

p {
    line-height: 1.5; /* Define a altura da linha para o texto dos parágrafos */
}



#TopBtn {
    position: fixed; /* Posiciona o botão fixo na tela */
    bottom: 20px; /* Distância do botão em relação ao fundo da janela */
    right: 30px; /* Distância do botão em relação à direita da janela */
    width: 50px; /* Largura do botão */
    height: 50px; /* Altura do botão */
    background: url('./img/topo.png') no-repeat center center; /* Define a imagem de fundo do botão */
    background-size: contain; /* Ajusta o tamanho da imagem de fundo para caber no botão */
    cursor: pointer; /* Altera o cursor para um ponteiro ao passar sobre o botão */
    
}