body {
    color: black;
    background-color: pink;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 105vh;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

a {

    text-decoration: none;
}

header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid magenta;
}

.center {
    text-align: center;
    margin: 50px 0px;
}

h1 {
    color: magenta;
}

h2 {
    color: magenta;
}

footer img {
    width: 25px;
    height: 25px;
}

footer {
    display: flex;
    justify-content: center;
    /* Define o preenchimento interno superior e inferior do rodapé como 20 pixels e 0 pixels nas laterais */
    padding: 20px 0;
    position: relative; 
    
}

footer a {
    margin: 20px;
    text-align: center;
}

footer p {
    margin-top: 2px;
    
}

.conteudo {
    padding: 0px 50px;
    flex: 1; 
}

nav a:hover {
    color: black;
    background-color: magenta;
    border-radius: 20px;
}

nav a {
    color: black;
    padding: 10px 20px;
    /* Preenchimento interno do botão */
    transition: all 0.3s ease;
    /* Transição suave para mudanças de estilo */
}


p {
    line-height: 1.5; 
}

*{
    margin: 0;
    box-sizing: border-box; /* Para garantir que padding e border sejam incluídos nas dimensões totais dos elementos */

}



#backToTopBtn {
    display: block; /* Exibe o botão */
    position: fixed; /* Posiciona o botão fixo no canto inferior direito */
    bottom: 20px; /* Define a distância do botão em relação ao fundo da janela */
    right: 30px; /* Define a distância do botão em relação à direita da janela */
    z-index: 99; /* Garante que o botão fique acima de outros elementos */
    width: 50px; /* Define a largura do botão */
    height: 50px; /* Define a altura do botão */
    background: url('./img/topo.png') no-repeat center center; /* Define a imagem de fundo do botão */
    background-size: contain; /* Ajusta o tamanho da imagem de fundo para caber no botão */
    cursor: pointer; /* Muda o cursor para ponteiro ao passar sobre o botão */
    border: none; /* Remove qualquer borda do link */
}

.rodape {
    background-color: magenta;
    padding: 20px;
    text-align: center;
    bottom: 0;
    width: 100%;
}
